
h1 {
  text-align: initial;
  text-decoration: underline;
  font-weight: normal;
}

@font-face {
  font-family: "Kurale";
  src: local("Kurale"),
    url("../fonts/Kurale-Regular.ttf") format("truetype");
}

.slick-prev:before,
.slick-next:before {
  color: black!important;
}

.carousel-item {
  margin: 0 10px;
}
.serieDetail img,
.movieDetail img { width: 250px;}

.liked {
  color: red;
}
.movieDetail img { width: 300px; }

.serieDetail,
.movieDetail, 
.detail { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


a {
  text-decoration: none;
  color: black;
}